RipleyMaticNET/App_WebReferences/TelematicoService/TelematicoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf.spring.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TelematicoService" targetNamespace="http://cxf.spring.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://cxf.spring.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="keySession" type="tns:keySession" />
      <xs:element name="keySessionResponse" type="tns:keySessionResponse" />
      <xs:element name="validarPin" type="tns:validarPin" />
      <xs:element name="validarPinResponse" type="tns:validarPinResponse" />
      <xs:complexType name="keySession">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="canal" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="keySessionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:datos" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="datos">
        <xs:sequence>
          <xs:element minOccurs="0" name="keyPublicChannel" type="xs:string" />
          <xs:element minOccurs="0" name="keySessionId" type="xs:string" />
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validarPin">
        <xs:sequence>
          <xs:element minOccurs="0" name="pinBlock" type="xs:string" />
          <xs:element minOccurs="0" name="pan" type="xs:string" />
          <xs:element minOccurs="0" name="canal" type="xs:string" />
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validarPinResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validarPin">
    <wsdl:part name="parameters" element="tns:validarPin" />
  </wsdl:message>
  <wsdl:message name="keySessionResponse">
    <wsdl:part name="parameters" element="tns:keySessionResponse" />
  </wsdl:message>
  <wsdl:message name="validarPinResponse">
    <wsdl:part name="parameters" element="tns:validarPinResponse" />
  </wsdl:message>
  <wsdl:message name="keySession">
    <wsdl:part name="parameters" element="tns:keySession" />
  </wsdl:message>
  <wsdl:portType name="ITelematico">
    <wsdl:operation name="keySession">
      <wsdl:input name="keySession" message="tns:keySession" />
      <wsdl:output name="keySessionResponse" message="tns:keySessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="validarPin">
      <wsdl:input name="validarPin" message="tns:validarPin" />
      <wsdl:output name="validarPinResponse" message="tns:validarPinResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TelematicoServiceSoapBinding" type="tns:ITelematico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="keySession">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="keySession">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="keySessionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarPin">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validarPin">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validarPinResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TelematicoService">
    <wsdl:port name="TelematicoPort" binding="tns:TelematicoServiceSoapBinding">
      <soap:address location="http://10.25.4.91:8080/WebServiceTelematico/Telematico" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>