RipleyMaticNET/App_WebReferences/SeguridadWebService/SeguridadWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.valpin.ripley.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="SeguridadWebServiceService" targetNamespace="http://webservice.valpin.ripley.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://webservice.valpin.ripley.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.valpin.ripley.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="dtoValidacionPIN">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoValidacion" type="xs:string" />
          <xs:element minOccurs="0" name="mensajeValidacion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dtolLavePublica">
        <xs:sequence>
          <xs:element minOccurs="0" name="keySessionId" type="xs:string" />
          <xs:element minOccurs="0" name="llavePublica" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="validacionPin" type="tns:validacionPin" />
      <xs:complexType name="validacionPin">
        <xs:sequence>
          <xs:element minOccurs="0" name="canal" type="xs:string" />
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="keySessionId" type="xs:string" />
          <xs:element minOccurs="0" name="pinblock" type="xs:string" />
          <xs:element minOccurs="0" name="pan" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="validacionPinResponse" type="tns:validacionPinResponse" />
      <xs:complexType name="validacionPinResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:dtoValidacionPIN" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="obtenerClavePublica" type="tns:obtenerClavePublica" />
      <xs:complexType name="obtenerClavePublica">
        <xs:sequence>
          <xs:element minOccurs="0" name="canal" type="xs:string" />
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="obtenerClavePublicaResponse" type="tns:obtenerClavePublicaResponse" />
      <xs:complexType name="obtenerClavePublicaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:dtolLavePublica" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerClavePublicaResponse">
    <wsdl:part name="parameters" element="tns:obtenerClavePublicaResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerClavePublica">
    <wsdl:part name="parameters" element="tns:obtenerClavePublica" />
  </wsdl:message>
  <wsdl:message name="validacionPin">
    <wsdl:part name="parameters" element="tns:validacionPin" />
  </wsdl:message>
  <wsdl:message name="validacionPinResponse">
    <wsdl:part name="parameters" element="tns:validacionPinResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridadWebService">
    <wsdl:operation name="validacionPin">
      <wsdl:input name="validacionPin" message="tns:validacionPin" />
      <wsdl:output name="validacionPinResponse" message="tns:validacionPinResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtenerClavePublica">
      <wsdl:input name="obtenerClavePublica" message="tns:obtenerClavePublica" />
      <wsdl:output name="obtenerClavePublicaResponse" message="tns:obtenerClavePublicaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeguridadWebServiceServiceSoapBinding" type="tns:ISeguridadWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validacionPin">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validacionPin">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validacionPinResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerClavePublica">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="obtenerClavePublica">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obtenerClavePublicaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeguridadWebServiceService">
    <wsdl:port name="SeguridadWebServicePort" binding="tns:SeguridadWebServiceServiceSoapBinding">
      <soap:address location="http://10.25.2.22:8696/ws_MiddlewareRipley/SeguridadWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>